.header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  height: 90px;
  z-index: 100;
  transition: transform .4s;
  border-bottom: 2px solid rgb(229, 229, 229);
}

.hamburger-menu-button {
  border: none;
  background: none;
  position: absolute;
  left: 8px;
  cursor: pointer;
}

.hamburger-icon {
  height: 30px;
  transition: opacity .7s;
}

.header-text {
  font-size: 20px;
}